<table>
    <tr>
        <td><label for='phone_number'>Phone Number: </label></td>
        <td><input id='phone_number' name='phone_number' type='text'></td>
    </tr>
</table>
<br/>
<button type="button" id="btnSearch">Search</button>