<table>
    <tr>
        <td><label for='phone_number'>Phone Number: </label></td>
        <td><input id='phone_number' name='phone_number' type='text'></td>
    </tr>
</table>
<br/>
<button type="button" id="btnSearch">Search</button>
{{^is_load}}
    <div class="card">
    <h2>Search Criteria</h2>
    <table>
    {{#search_criteria}}
        <tr>
            <td align="right" class="bold">{{text}}:</td>
            <td>{{value}}</td>
        </tr>
    {{/search_criteria}}
    </table>
    </div>
    <div class="card">
        <h2>Results</h2>
        <table width="400px">
            <tr>
                <th></th>
                <th align="left">Full Name</th>
                <th align="left">State</th>
            </tr>
            {{#records}}
                <tr class="record">
                {{#first_name}}
                    <td valign="top" align="left">
                          <a class="expand expand-{{record_id}}" href="#" data-record-id="{{record_id}}">+</a>
                    </td>
                    <td align="left">
                        <a href="#"
                           class="person_detail"
                           data-first-name="{{first_name}}"
                           data-last-name="{{last_name}}"
                           data-phone-number="{{phone_number}}"
                        >
                            {{first_name}} {{last_name}}
                        </a>
                        <table class="hidden record-details-{{record_id}}">
                            <tr>
                                <td>Address</td>
                                <td>{{address_a}} {{address_b}}</td>
                            </tr>
                        </table>
                    </td>
                    <td align="left">{{state}}</td>
                {{/first_name}}
                {{^first_name}}
                    <td></td>
                    <td colspan="2">{{info}}</td>
                {{/first_name}}
                </tr>
            {{/records}}
        </table>
    </div>
    {{#people_records_loaded}}
        <div class="card">
            <h2>People results</h2>

            <table width="700px" class="people_table">
                <tr>
                    <th></th>
                    <th align="right">Name</th>
                    <th align="left" class="address_cell">Address</th>
                </tr>
                {{#people_records}}
                    <tr>
                        <td valign="top"><a href="#" class="expand-person-record expand-person-record-id-{{record_id}}" data-record-id="{{record_id}}">+</a></td>
                        <td align="right">
                            <span>{{first_name}} {{last_name}}</span>
                            <table cellpadding="0" cellspacing="0" class="person_record_detail person_record_detail-id-{{record_id}} hidden">
                                <tr>
                                    <td align="right" class="bold">Age:</td>
                                    <td class="person_record_detail_value">{{age}}</td>
                                </tr>
                                <tr>
                                    <td align="right" class="bold">Date of Birth:</td>
                                    <td class="person_record_detail_value">{{date_of_birth}}</td>
                                </tr>
                                <tr>
                                    <td align="right" class="bold">Relatives:</td>
                                    <td class="person_record_detail_value">
                                        {{#relatives}}
                                            {{first_name}} {{last_name}} {{age}}<br/>
                                        {{/relatives}}
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" class="bold">Previous Addresses:</td>
                                    <td class="person_record_detail_value">
                                        {{#previous_addresses}}
                                          {{city}} {{state}} {{zip}}<br/>
                                        {{/previous_addresses}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td align="left" valign="top" class="address_cell">{{address}} {{city}} {{state}} {{zip}}</td>
                    </tr>
                {{/people_records}}
            </table>
        </div>
    {{/people_records_loaded}}
{{/is_load}}