body {
    font-family: Arial;
    font-size: 12px;
}
.bold {
    font-weight: bold;
}
.card {
    margin:20px;
    padding:10px;
    width: auto;
    border: 1px black outset;
}

.record {
    line-height: 20px;
}

.hidden {
    display: none;
}

.people_table {
    height: 600px;
    overflow-y: scroll;
}

.person_record_detail {
    padding-left: 5px;
}

.person_record_detail_value {
    padding-left: 5px;
}

.address_cell {
    padding-left: 10px;
}